*/data/*
*.pyc

# tensorflow examples
*mnist*
Task2/models/*

# OS X indexing files
*DS_Store

# backup data from converting to python 3
*bak

# dictionary pickle
*.p

# Output
**/perplexity.txt

# logfiles
**/Task1/*.log
**/Task1/log/*.log

# models
**/Task1/final_results/final_model_C/*
/Task2/report/main.aux
/from_stanford_chatbot/.idea/dictionaries/*.xml
/from_stanford_chatbot/.idea/*.iml
/from_stanford_chatbot/.idea/inspectionProfiles/*.xml
/from_stanford_chatbot/.idea/*.xml
/chatbot-rnn/.idea
.idea
